{% extends 'base.html' %} {% block content %}

<style>
  .privacy-policy-title {
    font-size: 34px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
  }

  .privacy-policy-subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .privacy-policy-description {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .privacy-policy-list {
    list-style-type: disc;
    margin-left: 20px;
  }

  .privacy-policy-contact {
    margin-top: 30px;
    font-style: italic;
  }
</style>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="privacy-policy">
        <p class="privacy-policy-title">
          hi hello and bye 

        </p>


      </div>
    </div>
  </div>
</div>
{% endblock %}
